<p> Dear <%= @user.full_name%>, </p>
<p>This is to inform that your  ticket for route "<%= @ticket.route_name %>" was cancelled</p>
<p>Click <%= link_to "here", tickets_url %> to see all your purchased ticket</p>
<p>Contact us if any questions occur</p>
<p>Your team</p>
<p>Tutu</p>